body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.weatherapp {
  background-image: url("images/greenery.jpg");
  background-size: cover;
  height: 500px;
  width: 700px;
}
h1 {
  color: rgb(240, 174, 210);
  font-size: 24px;
  font-weight: 100;
  line-height: 32px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: white;
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-temperature img {
  margin-right: 20px;
  height: 64px;
  width: 64px;
}
.btn {
  background-color: #8ac28c;
  color: white;
  border: 1px aqua solid;
}
.weather-temperature strong {
  color: white;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
#fahrenheit-link {
  color: black;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.overview {
  margin-bottom: 20px;
}
.weatherapp-wrapper {
  margin: 30px auto;
  max-width: 600px;
}
.weatherapp {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.weather-forecast {
  text-align: center;
  color: white;
  margin-top: 50px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.9;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature.minimum {
  opacity: 0.4;
}

.res-circle {
  /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
  width: 180px;
  height: 150px;
  border-radius: 50%;
  border: aqua solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  text-align: center;

  margin: 10px auto;

  /* (B) BACKGROUND COLOR */
  background: rebeccapurple;
  opacity: 0.7;

  /* (C) NECESSARY TO POSITION TEXT BLOCK */
  line-height: 1em;
}

.circle-txt {
  /* (E1) CENTER TEXT IN CIRCLE */

  margin-top: 35px;
  margin-left: 10px;
  text-align: center;

  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
}
.last {
  text-align: center;
  margin-top: 20px;
  color: #5e5f61;
}
.square {
  width: 50%;
  height: 85%;
  margin: 10px auto;
  background: rgb(209, 139, 46);
  opacity: 0.9;

  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  border-radius: 20%;
  text-align: center;
  border: aqua solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
